<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/upbar.ejs") %>

    <div id="search-content" class="h-full flex flex-col my-5 mx-7">
      <h3 id="welcome-text" class="text-center">Welcome to Beautiful Dictionary ❤️</h3>
    </div>

    <!-- two hidden span to take word and lang variables -->
    <span id="word" hidden><%= word %></span>
    <span id="lang" hidden><%= lang %></span>

    <%- include ("../partials/scripts.ejs") %>
  </body>
</html>
